{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yahya Parayil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'style/home_style.css' %}">

</head>

<body>
    <nav class="navbar navbar-expand-lg" id="nav_id">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">PORTFOLIO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#div_2_id">Service</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Let's Talk</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-lg-6" id="col1_id">
            <h3>Yahya Parayil - Full Stack Developer</h3>
            <h1>I Develop Websites and Web Applications</h1>
            <button class="btn"><a href="#contact">Let's Talk</a></button>
        </div>
        <div class="col-lg">
            <img src="{% static 'images/yahya_image.jpg' %}" alt="" width="430px" height="410px">
        </div>
    </div>
    <div class="container w3-container w3-center w3-animate-bottom" id="div_2_id">
        <h1 class="containerh1_class"> <a name="div_2_id">Services</a></h1>
        <div class="row">
            <div class="col-lg-3" class="div_2_col_id">
                <div>
                    <i class="fa-regular fa-file"></i>
                </div>
                <div>
                    <h3>Structure</h3>
                </div>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, consequatur?
                </p>
            </div>
            <div class="col-lg-3" class="div_2_col_id">
                <div>
                    <i class="fa-solid fa-desktop"></i>
                </div>
                <div>
                    <h3>Developing</h3>
                </div>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, consequatur?
                </p>
            </div>
            <div class="col-lg-3" class="div_2_col_id">
                <div>
                    <i class="fa-regular fa-pen-to-square"></i>
                </div>
                <div>
                    <h3>Web Design</h3>
                </div>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, consequatur?
                </p>
            </div>
            <div class="col-lg-3" class="div_2_col_id">
                <div>
                    <i class="fa-regular fa-bookmark"></i>
                </div>
                <div>
                    <h3>Design System</h3>
                </div>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, consequatur?
                </p>
            </div>
        </div>
    </div>
    <div class="projects_div">
        <h2> <a name="Projects">My Latest Projects</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
    </div>
    <div class="projects_explanation">
        <div class="row">
            <div class="col-lg-6">

                <img src="{% static 'images/ecommerce_img.avif' %}" alt="">
                <div>
                    <h2>Ecommerce Website</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Dolorum vitae alias error amet,
                        labore
                        quibusdam optio <br> beatae vel quas sint omnis suscipit aspernatur unde! <br> Voluptatem, nam.
                        Officia
                        natus placeat aperiam.
                    </p>
                    <a href="#"><button class="btn">View Project</button></a>
                </div>
            </div>
            <div class="col-lg-6">

                <img src="{% static 'images/Social_media_img.avif' %}" alt="">
                <div>
                    <h2>Real Time Chat Application</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing <br>elit. Odit totam itaque neque natus eos
                        repellat vero <br> sed, debitis vel qui alias laboriosam quos. <br> Atque eum maxime doloremque
                        obcaecati
                        exercitationem
                    </p>
                    <a href="#"><button class="btn">View Project</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="project_work_div">
        <h1> <a name="contact">Have a project you want to <br> work together?</a></h1>
        <a href="#">
            <p>yahyaparayil73@gmail.com</p>
        </a>
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-lg-3">
                <h2>PORTFOLIO</h2>
            </div>
            <div class="col-lg-6" id="footer_2_div">
                <div class="row">
                    <div class="col">Service</div>
                    <div class="col">Projects</div>
                    <div class="col"><a href="#contact">Let's Talk</a></div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer_media_logos">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <p>Built by <a href="#">Yahya Parayil</a> Powered by <a href="#">YDevCodes</a></p>
        </div>
    </div>

</body>

</html>